appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.4
certifi==2020.6.20
colorama==0.4.4
cycler==0.10.0
distlib==0.3.1
filelock==3.0.12
imgviz==1.2.2
importlib-metadata==2.0.0
importlib-resources==3.1.1
isort==5.6.4
kiwisolver==1.2.0
labelme==4.5.6
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
Pillow==8.0.1
psycopg2==2.8.6
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
QtPy==1.9.0
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
toml==0.10.1
typed-ast==1.4.1
virtualenv==20.0.35
virtualenvwrapper-win==1.2.6
wrapt==1.12.1
zipp==3.3.2
