{% extends 'index.html' %}
{% load static %}
{% block titulo %}
About Me
{% endblock titulo %}
{% block imagen %}
{% static 'img/about-bg.jpg' %}
{% endblock imagen %}
{% block titulo_principal %}
About Me
{% endblock titulo_principal %}
{% block subtitulo %}
Here you can see information about me
{% endblock subtitulo %}

{% block cuerpo %}
    <div class="separator" style="clear: both; text-align: center;">
        <table cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;">
            <tbody>
                <ul>
                    <tr>
                        <td style="text-align: center;">
                            <li>Name: Fernando Acosta Fajardo.</li>
                            <li>Career: 3rd semester of software engineering.</li>
                            <li>Hobbies: I like to play videogames and train karate.</li>
                            <li>Personal skills: I am good to teach, and when i propose something i make an effort to get it.</li>
                            <li>¿What do i plan to be when i grow up?: When I grow up i want to be a good software engineer, work in a good enterprice, and maybe to teach someting related with my career or english,also i would like to have my own karate school.</li>
                        </td>
                    </tr>
                </ul>
            </tbody>
        </table>
    </div>
        <div class="separator" style="clear: both; text-align: center;">
        <table cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;">
            <tbody>
                <tr><td style="text-align: center;"><a href="https://1.bp.blogspot.com/-Nuj3PQ2oyDo/Xi-zWx8LmtI/AAAAAAAAABA/db5LHcGRItMbgwMXVKMyIcH-1Y_mY41oACLcBGAsYHQ/s1600/IMG_8938.JPG" style="clear: left; margin-bottom: 1em; margin-left: auto; margin-right: auto;"><img border="0" data-original-height="1600" data-original-width="1067" height="200" src="https://1.bp.blogspot.com/-Nuj3PQ2oyDo/Xi-zWx8LmtI/AAAAAAAAABA/db5LHcGRItMbgwMXVKMyIcH-1Y_mY41oACLcBGAsYHQ/s200/IMG_8938.JPG" width="133" /></a></td></tr>
                <tr><td class="tr-caption" style="text-align: center;"><b>Fernando Acosta Fajardo</b></td></tr>
            </tbody></table>
    </div>
{% endblock cuerpo%}
{% block barra_busqueda %}
{% endblock barra_busqueda %}

