{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Contact Me
{% endblock titulo %}
{% block imagen %}
{% static 'img/contact-bg.jpg' %}
{% endblock imagen %}
{% block titulo_principal %}
Contact Me
{% endblock titulo_principal %}
{% block subtitulo %}
Here you can see information to contact me
{% endblock subtitulo %}
{% block cuerpo %}
    <div class="separator" >
        <table cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;">
            <tbody>
                <tr>
                    <td style="text-align: left;">
                        <ul>
                            <li >Phone: +526442088051</li>
                            <li>E-mail: fernando.acosta216555@potros.itson.edu.mx</li>
                            <li >Facebook: <a href = "https://www.facebook.com/fernando.acostafagardo">https://www.facebook.com/fernando.acostafagardo</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>   
{% endblock cuerpo%}
{% block barra_busqueda %}
{% endblock barra_busqueda %}