{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Evidences of the topic of REDES
{% endblock titulo %}
{% block imagen %}
{% static 'img/evidences.jpg' %}
{% endblock imagen %}
{% block titulo_principal %}
Evidences of the topic of REDES
{% endblock titulo_principal %}
{% block subtitulo %}
Here you can see the evidences of this topic
{% endblock subtitulo %}
{% block cuerpo %}
    <div class="separator" >
        <table cellpadding="0" cellspacing="0" class="tr-caption-container" style="margin-left: auto; margin-right: auto; text-align: center;">
            <tbody>
                <tr>
                    <td style="text-align: left;">
                        <ul>
                            <li >Tarea 1: <a href="https://drive.google.com/file/d/1l8jkxmEFWa7cN_aur2LWtO_WGxu2JGXj/view?usp=sharing" target="_blank">Definición de sistema operativo.</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>   
{% endblock cuerpo %}
{% block barra_busqueda %}
{% endblock barra_busqueda %}